body{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* height: 90vh; */
}
.card{
  height: 550px;
  width: 380px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  
}
.card img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* margin-top: 30px; */
  border: 3px solid white;
  padding: 5px;
}
.props{
  position: absolute;
  top: 0px;
}
.online{
  background-color: green;
  padding: 10px 20px;
  border-radius: 30px;
  position:relative;
  top: 10px;
  left: -130px;
}
.offline{
  background-color: red;
  padding: 10px 20px;
  border-radius: 30px;
  position: relative;
  top: 20px;
  left: -130px;
}
.btn{
  display: flex;
  gap: 50px;
}
.btn button:hover{
  background-color:gray;
  border: transparent;
  box-shadow: 0px 0px 10px gray;
}

.skills{
  width: 100%;
  text-align: left;
}
.skills ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.skills li{
  border: 1px solid gray;
  padding: 10px;
  border-radius: 15px;
  font-size: small;
  position: relative;
  left: -40px;
}